/*
    FONTS
*/

@font-face {
    font-family: 'Super Mario 256';
    src: url('fonts/SuperMario256.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rammetto One';
    src: url('fonts/RammettoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

.button {
    display: block;
    box-sizing: border-box;

    width: fit-content;
    height: 30px;

    padding: 3px 10px;
    margin: 5px;

    border: none;
    border-radius: 3px;

    background-color: cornflowerblue;

    color: white;
    text-decoration: none;
    line-height: 1.6em;
}