@font-face
{
    font-family: arvo;
    src: url("Arvo-Bold.ttf");
}
body
{
    font-size: 62.5%;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
header div:first-child
{
    font-family: arvo;
    color: white;
    font-size: 1.8rem;
    margin-left: 3rem;
}
ul li
{
    display: none;
    font-size: 1.2rem;
    color: white;
    border: 0.1rem solid slategrey;
}
nav:hover ul li
{
    display: flex;
}


.contenu
{
    display: flex;
    flex-direction: column;
}

section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
section div
{
    display: flex;
    flex-direction: row;
}
h1,h2
{
    font-family: arvo;
    font-size: 2rem;
    margin-bottom: 0;
    color: white;
}
.bouton
{
    margin-top: 3rem;
}
.bouton div:first-child
{
    background-color: red;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    margin: 0 2rem;
}
.bouton div:last-child
{
    background-color: #1b2e39;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1.8rem;
    margin: 0 2rem;
}
section img
{
    margin: 6rem 0 3rem 0;
}


.banniere
{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 0 7rem;
    margin-bottom: 2rem;
}
.banniere article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    text-align: center;
}
.banniere img
{
    height: 2rem;
    width: auto;
}
.banniere p
{
    font-size: 0.7rem;
    line-height: 1.3rem;
}
.banniere h3
{
    font-family: arial;
    font-size: 1rem;
    margin-top: -1rem;
}







.capture
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8d3838;
}
.capture article
{
    display: flex;
    flex-direction: column;
    background-color: #3d3139;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 8rem;
    padding-right: 2rem;
}
.rouge
{
    width: 80rem;
    height: auto;
}
.capture h3
{
    color: white;
    font-family: arial;
    font-size: 1rem;
    line-height: 0.2rem;
}
.encart
{
    display: flex;
    flex-direction: column;
}
.capture p
{
    color: white;
}
.encart
{
    border: 0.05rem solid white;
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
    padding: 1rem;
}
.encart p
{
    font-size: 1.2rem;
    text-align: center;
    line-height: 0.2rem;
}






.remember
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-bottom: 2.4rem;
}
.remember .rouge2
{
    width: 15rem;
    height: 15rem;
    background-color: #8d3838;
    margin-right: 2rem;
    margin-top: 3rem;
}
.remember article
{
    margin-top: 3rem;

}
.remember h3
{
    font-size: 1.5rem;
    line-height: 1rem;
}
.remember p
{
    font-size: 0.7rem;
}
.remember .bouton
{
    background-color: red;
    color: white;
    border-radius: 1.5rem;
    width: 6rem;
    padding: 0 1.8rem;

}





.homme
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.homme img
{
    background-color: #c0c4d1;
    height: 18rem;
    width: auto;
    padding-right: 5rem;
    padding-left: 8rem;
    padding-top: 2rem;
    border-top: 0.05rem solid #4c5b66;
    border-bottom:  0.05rem solid #4c5b66;
}
.homme article
{
    background-color: #4c5b66;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    width: 40rem;
    height: 17rem;
    padding-left: 3rem;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 0.05rem solid #4c5b66;
    border-bottom: 0.05rem solid #4c5b66;
}
.homme p
{
    color: white;
}
.homme p:first-child
{
    font-size: 1rem;
    line-height: 1.7rem;
}
.homme p:nth-child(2)
{
    font-size: 1rem;
}.homme p:last-child
 {
    font-size: 0.5rem;
    line-height: 1rem;
    margin-top: -0.5rem;
 }




.mozaique
{
    display: flex;
    position: relative;
    background-color: lightgrey;
    height: 78rem;
    width: 56rem;
}
.mozaique .r1
{
    width: 30rem;
    height: 15rem;
    background-color: black;
    margin: 0.5rem;
    position: absolute;
    left: 5rem;
    top: 5rem;
}
.mozaique .r2
{
    width: 13rem;
    height: 27rem;
    background-color: black;
    margin: 0.5rem;
    position: absolute;
    left: 37rem;
    top: 5rem;
}
.mozaique .r3
{
    width: 15rem;
    height: 15rem;
    background-color: black;
    margin: 0.5rem;
    position: absolute;
    left: 20rem;
    top: 22rem;
}
.mozaique .r4
{
    width: 15rem;
    height: 15rem;
    background-color: black;
    margin: 0.5rem;
    position: absolute;
    left: 20rem;
    top: 39rem;
}
.mozaique .r5
{
    width: 13rem;
    height: 20rem;
    background-color: black;
    position: absolute;
    left: 5.5rem;
    top: 22.5rem;
}
.mozaique .r6
{
    width: 13rem;
    height: 20rem;
    background-color: black;
    position: absolute;
    left: 37.5rem;
    top: 34.5rem;
}
.mozaique .r7
{
    width: 13rem;
    height: 27rem;
    background-color: black;
    margin: 0.5rem;
    position: absolute;
    left: 5rem;
    top: 44rem;
}
.mozaique .r8
{
    width: 30rem;
    height: 15rem;
    background-color: black;
    margin: 0.5rem;
    position: absolute;
    left: 20rem;
    top: 56rem;
}





 .logo
 {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: white;
     margin: 0 2rem;
 }




 .newsletter
 {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }
 .newsletter h3
 {
     color: white;
     font-size: 2rem;
     margin-left: 5rem;
     padding-top: 2rem;
 }
 .newsletter p
 {
     color: white;
     font-size: 0.9rem;
     margin-left: 5rem;
     margin-right: 16rem;
     line-height: 1.5rem;
 }
 .bouton3
 {
     background-color: red;
     color: white;
     font-size: 0.9rem;
     border-radius: 3rem;
     padding: 0.5rem 2rem;
     margin: 3rem 0;
     margin-left: 5rem;
 }




 footer
 {
     background-color: #25323c;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     box-shadow: 0 0.3rem 0.3rem black;
 }
 footer p
 {
     color: white;
     font-family: arvo;
     font-size: 1.7rem;
     padding-left: 5rem;
 }
 footer div
 {
     margin-right: 5rem;

 }
 footer img
 {
     margin: 0 0.5rem;
     margin-top: 1rem;
 }
 footer img:nth-child(4)
 {
     position: relative;
     bottom: -0.5rem;
 }





 @media screen and (max-width: 700px)
 {
     .banniere
     {
         flex-wrap: wrap;

     }
     .banniere article
     {
         margin: -2.5rem 0;
     }
     .banniere article:nth-child(3)
     {
         margin-bottom: 2rem;
     }
     .rouge
     {
         display: none;
     }

     .remember
     {
         flex-direction: column;
     }
     .homme
     {
         flex-direction: column;
     }
     .homme article
     {
         padding-left: 20rem;
     }
     .logo
     {
         flex-wrap: wrap;
     }
     .logo img
     {
         margin: 2rem 2rem;
     }
     .newsletter p
     {
         margin-right: 2rem;
     }
 }


@media screen and (max-width: 600px)
{
    footer
    {
        flex-direction: column;
        padding-bottom: 2rem;
    }
    footer div
    {
        padding-left: 4.5rem;
    }

}






