.opened
{
    background-color: #ceffbf;
}

.closed
{
    background-color: #ffc9c9;
}

td, table
{
    border: black 1px solid;
    border-collapse: collapse;
}

.row
{
    display: flex;
    flex-direction: row;
}

form
{
    margin-right: 10rem;
}