/*
    FONTS
*/

@font-face {
    font-family: 'Super Mario 256';
    src: url('assets/fonts/SuperMario256.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rammetto One';
    src: url('assets/fonts/RammettoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*
        GENERAL CSS
 */


body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, #10324e, #047b95);
    background-position: center;
    background-size: cover;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container
{
   position: relative;
    height: 100vh;
}

/*
    HEADER
*/

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.logo
{
    width: 10%;
    height: auto;
}

/*
    FOOTER
*/

footer
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 7vh;
    background-color: black;
    color: white;
     font-size: 0.7rem;
}

footer img
{
    width: 15%;
    height: auto;
    padding: 5px 15px;
    align-self: center;
}

footer p
{
    align-self: center;
    justify-self: center;
}



/*
    HOMEPAGE CSS
*/

.diskor
{
    position: absolute;
    bottom: 0;
    right: 0;
}

.reine-sadidas
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
}

.login-link
{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
}

/* Register form */

.register-div
{
    width: 50%;
    margin: auto;
}

.register-div > form
{
    background-color: #231e4a;
    border-radius: 10px;
}





